.card {
  background-color: var(--color-light-025);
  border-radius: var(--radius-md);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  padding-bottom: 1rem;

  a {
    text-decoration: none;
    &:after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
    }
  }

  &--thumb {
    order: 1;
    grid-area: thumb;
    aspect-ratio: 1366 / 768;
    width: 100%;
    background: var(--color-light-100);
    overflow: hidden;
    &__square {
      aspect-ratio: 1 / 1;
    }
    &__cover {
      aspect-ratio: 850 / 315;
    }
    &__stories {
      aspect-ratio: 1080 / 1920;
    }
    img {
      object-fit: cover;
      transition:
        transform 250ms,
        opacity 600ms ease-in-out;
      width: 100%;
      height: 100%;
    }
  }

  &--content {
    order: 2;
    grid-area: content;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &--title {
  }

  &--resume {
  }

  &:hover {
    a {
      color: inherit;
    }
    color: var(--color-light-600);
    .card--thumb img {
      transform: scale(1.1);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'thumb content';
    align-items: start;
    .card--content {
      margin: 0 auto;
    }
    .card--thumb {
      margin: auto;
    }
  }

  &__loading {
    .card {
      &--title,
      &--resume span,
      &--meta span {
        display: inline-block;
        width: 100%;
        box-shadow: inset 0px 0px 0px 2px var(--color-light-025);
        border-radius: var(--radius-sm);
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .card--thumb img {
    transition: none !important;
    transform: none !important;
  }
}
