@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.shimmer,
picture:has(img[loading='lazy']:not(.loaded)) {
  background-image: var(--shimmer) !important;
  background-size: 200% 100% !important;
  animation: shimmer 1.5s infinite !important;
}

@media (prefers-reduced-motion: reduce) {
  .shimmer,
  picture:has(img[loading='lazy']:not(.loaded)) {
    animation: none !important;
  }
}
