@layer base {
  body {
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    margin: 0;
    font-weight: 400;
    @apply fs-body-copy;
  }

  figure,
  blockquote {
    margin: 0;
  }

  iframe {
    border: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
  }
  h1 {
    @apply fs-canon;
  }
  h2 {
    @apply fs-trafalgar;
  }
  h3 {
    @apply fs-paragon;
  }
  h4 {
    @apply fs-double-pica;
  }
  h5,
  h6 {
    @apply fs-great-primer;
  }
  h6 {
    font-style: italic;
  }
  p {
    @apply fs-body-copy;
  }

  em,
  q {
    font-style: italic;
  }

  q {
    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  strong {
    font-weight: 600;
  }

  u {
    text-decoration: underline;
  }

  strike {
    text-decoration: line-through;
  }

  abbr {
    text-decoration: underline dotted;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  sub {
    vertical-align: sub;
    font-size: smaller;
  }

  button {
    border: 0;
    background: transparent;
    padding: 0;
    color: inherit;
  }
}
