@use '@fontsource/fira-mono';

:root {
  --font-sans:
    Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'Fira Mono', monospace;

  font-family: var(--font-body);
  color: #000;
}

body {
  min-height: 100vh;
  margin: 0;
  background: red;
}
