@use 'sass:map';
@use '@fontsource/poppins/300' as Poppins300;
@use '@fontsource/poppins/400' as Poppins400;
@use '@fontsource/poppins/500' as Poppins500;
@use '@fontsource/poppins/600' as Poppins600;
@use '@fontsource/poppins/700' as Poppins700;
@use '@fontsource/poppins/800' as Poppins800;
@use '@fontsource/poppins/900' as Poppins900;
@use '@fontsource-variable/open-sans';
@use '@fontsource/fira-mono';
@use './normalize';

@use '@enodo/foundation-css/variables/breakpoints' as bp;
@use '@enodo/foundation-css' with (
  $font-families: (
    brand: (
      'Poppins',
      sans-serif,
    ),
    sans: (
      'Open Sans Variable',
      Arial,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif,
    ),
    mono: (
      'Fira Mono',
      monospace,
    ),
  ),
  $colors: (
    light: (
      'main': #fff,
      '025': #f9f9f9,
      '050': #f1f2f7,
      '075': #eaecf2,
      '100': #e1e3e8,
      '200': #c8c8d5,
      '300': #a9a9bf,
      '400': #8b8da8,
      '500': #6b6e94,
      '600': #4f517d,
      '700': #30336b,
      '800': #27294f,
      '900': #181a34,
    ),
    error: (
      'main': #dc2626,
      '050': #fee2e2,
      '100': #fca5a5,
      '600': #991b1b,
      '700': #7f1d1d,
    ),
    flash: (
      'main': #4bdc9f,
      '050': #e8f8f2,
      '100': #b3ebdb,
      '600': #2ca87a,
      '700': #1a8f5f,
    ),
    slate: (
      'main': #64748b,
      '050': #f1f5f9,
      '100': #cbd5e1,
      '600': #1e293b,
      '700': #0f172a,
    ),
  )
);
@use './cards';
@use './shimmer';
@use './defaults';

:root {
  --bg-modal: rgba(48, 51, 107, 0.7);
  --focus-ring: var(--su1) solid rgba(100, 116, 139, 0.5);
  --shimmer: linear-gradient(
    90deg,
    var(--light-075) 25%,
    var(--light-100) 50%,
    var(--light-075) 75%
  );
}

*:focus-visible {
  outline: var(--focus-ring);
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--light);
  color: var(--light-900);
  display: flex;
  flex-direction: column;
}

h1 {
  @extend .fs-canon;
}

h2 {
  @extend .fs-trafalgar;
}

h3 {
  @extend .fs-paragon;
}

h4 {
  @extend .fs-double-pica;
}

h5,
h6 {
  @extend .fs-great-primer;
}
body,
p {
  @extend .fs-body-copy;
}

main {
  a {
    text-decoration-line: underline;
    text-decoration-color: var(--flash);
    text-decoration-thickness: 2px;
    &:hover {
      color: var(--flash);
    }
  }
}

input {
  @extend .fs-body-copy;
  border: 1px solid var(--light-700);
  padding: var(--su3) var(--su5);
  background: var(--light);
  color: var(--light-900);
  border-radius: var(--br-sm);
  box-shadow: var(--bs-sm);
}

.btn {
  @extend .fs-body-copy;
  white-space: nowrap;
  transition:
    color 150ms ease-in,
    background 150ms ease-in;
  background: var(--light-700);
  color: var(--light);
  border-radius: var(--br-sm);
  padding: var(--su3) var(--su5);
  font-weight: 600;
  box-shadow: var(--bs-sm);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--su4);
  svg,
  img {
    flex-shrink: 0;
  }
  &:hover {
    background: var(--light);
    color: var(--light-900);
  }

  &__sm {
    padding: var(--su1) var(--su3);
    gap: var(--su2);
  }
}

.tag {
  @extend .fs-minion;
  white-space: nowrap;
  background: var(--light-100);
  padding: var(--su1) var(--su3);
  position: relative;
  border-radius: var(--br-sm);
  transition:
    color 150ms ease-in,
    background 150ms ease-in;
  a {
    text-decoration: none;
    &:after {
      content: '';
      position: absolute;
      inset: 0;
    }
  }

  &:hover {
    background: var(--light-050);
    a {
      color: var(--light-700);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .tag {
    transition: none !important;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--error-050);
  color: var(--error-700);
  border: 1px solid var(--error);
  border-radius: var(--br-md);
  padding: var(--su6) var(--su7);
}

/*
 * POST CONTENT
 */
.post {
  @extend .fs-body-copy;
  &--list {
    padding-left: var(--su6);
  }

  &--media,
  &--x,
  &--facebook,
  &--instagram,
  &--tiktok {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--su2);
  }

  &--video video {
    width: 100%;
  }

  &--media--caption p {
    @extend .fs-brevier;
    display: inline;
    color: var(--light-600);
  }

  &--media--credits:before {
    content: 'Credits: ';
  }

  &--media--caption p + &--media--credits:before {
    content: ' — Credits: ';
  }

  &--youtube iframe,
  &--vimeo iframe,
  &--dailymotion iframe {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  &--iframe {
    text-align: center;
  }

  &--iframe iframe {
    max-width: 100%;
  }
}

ul.post--list {
  list-style-type: disc;
}

ol.post--list {
  list-style-type: decimal;
}

.post--quote {
  blockquote {
    margin: 0;
    p {
      @extend .fs-great-primer;
      &:before {
        content: '❝';
        font-size: 4rem;
        color: var(--flash);
        margin-right: var(--su4);
      }
    }
  }
  &--credits {
    @extend .fs-long-primer;
    padding-top: var(--su4);
    text-align: right;
  }
}

@media (min-width: map.get(bp.$breakpoints, 'sm')) {
  .post--video video {
    max-height: 70vh;
  }
}
// code {
//   font-family: var(ff-mono);
//   background-color: var(--light-050);
//   color: var(--light-900);
// }

// blockquote {
//   @extend .fs-foolscap;
// }
