@use '@fontsource/poppins/300' as Poppins300;
@use '@fontsource/poppins/400' as Poppins400;
@use '@fontsource/poppins/500' as Poppins500;
@use '@fontsource/poppins/600' as Poppins600;
@use '@fontsource/poppins/700' as Poppins700;
@use '@fontsource/poppins/800' as Poppins800;
@use '@fontsource/poppins/900' as Poppins900;
@use '@fontsource-variable/open-sans';
@use '@fontsource/fira-mono';

@use './cards';
@use './shimmer';
