@keyframes shimmer {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@utility shimmer {
  position: relative;
  overflow: hidden;
  background-color: var(--color-light-075);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--color-light-100) 50%,
      transparent 100%
    );
    animation: shimmer 1.5s infinite;
  }

  @media (prefers-reduced-motion: reduce) {
    &::after {
      animation: none;
    }
  }
}
