@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@utility shimmer {
  background-image: var(--shimmer);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}
